header {
    width: 100vw;
    background-color: rgba(0, 0, 0);
    position: fixed;
    z-index: 200;
}

header img {
    height: 8vh;
    cursor: pointer;
}

header .wrapper {
    display: flex;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
    height: 10vh;
    justify-content: left;
}

main {
    height: 80vh;
    position: absolute;
    width: 100vw;
    top: 15vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main h2 {
    color: #0084bc;
}

main p {
    text-align: justify;
}


main .wrapper {
    display: flex;
    max-width: 1550px;
    justify-content: space-around;
    margin: 0 auto;
}

main .left {
    width: 650px;
}

main .right {
    width: 650px;
}

main .right p {
    margin: 30px 0;
}

main .right img {
    width: 650px;
}

main .left img {
    width: 650px;
}

footer {
    width: 100vw;
    height: 5vh;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}

@media(max-width: 1800px) {

    header .wrapper {
        max-width: 1400px;
    }

    main {
        top: 13vh;
    }

    main .wrapper {
        max-width: 1400px;
    }

    main .left {
        width: 550px;
    }

    main .right {
        width: 550px;
    }

    main .right p {
        margin: 20px 0;
    }

    main .right img {
        margin-top: 15px;
        width: 550px;
    }

    main .left img {
        width: 550px;
    }

}

@media(max-width:1600px) {

    header .wrapper {
        max-width: 1300px;
    }

    main .wrapper {
        max-width: 1300px;
    }

    main .left {
        width: 540px;
    }

    main .right {
        width: 540px;
    }

    main .right p {
        margin: 20px 0;
    }

    main .right img {
        width: 540px;
    }

    main .left img {
        width: 540px;
    }

    main .left p {
        margin-top: 0px;
    }
}