* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    width: 100vw;
    background-color: rgba(0, 0, 0);
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
}

header img {
    height: 8vh;
    cursor: pointer;
}

header .wrapper {
    display: flex;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
    height: 10vh;
    justify-content: left;
}

main {
    margin: 15vh auto 5vh;
    max-width: 1550px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main h2 {
    color: #0084bc;
}

main p {
    text-align: justify;
}

footer {
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: black;
}

@media(max-width:1800px) {

    header .wrapper {

        max-width: 1400px;
    }

    main {
        max-width: 1400px;
    }
}

@media(max-width:1600px) {

    header .wrapper {
        max-width: 1250px;
    }

    main {
        max-width: 1250px;
    }
}

@media(max-width:1400px) {

    header .wrapper {
        max-width: 940px;
    }

    main {
        max-width: 940px;
    }
}

@media(max-width:1024px) {

    header .wrapper {
        max-width: 680px;
    }

    main {
        max-width: 680px;
    }
}

@media(max-width:767px) {

    header .wrapper {
        max-width: 500px;
    }

    main {
        max-width: 500px;
    }
}

@media(max-width:600px) {

    header .wrapper {
        max-width: 300px;
    }

    main {
        max-width: 310px;
    }
}