* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    background-image: url(assets/images/banner/tower.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    font-family: 'Roboto ', Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: 0.7s;
}

header .top {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 2;
    transition: 0.8s;
    z-index: 200;
}

header img {
    height: 8vh;
    cursor: pointer;
}

header .sticky {
    background-color: white;
}

header .sticky .nav-area li a {
    color: black;
}

header .sticky .nav-area li a:hover {
    color: #cd2628;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
    height: 10vh;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
}

.nav-area li a {
    color: #0084bc;
}

.nav-area li a:hover {
    color: #cd2628;
    cursor: pointer;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: #cd2628;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

header .main {
    height: 100%;
}

.main button {
    background-color: #cd2628;
    height: 8vh;
    width: 18vw;
    border-radius: 5px;
    text-align: center;
    border: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: black;
    box-shadow: none;
    cursor: pointer;
    transition: ease-out 0.4s;
    outline: none;
    box-shadow: inset 0 0 0 0 black;
    position: absolute;
    left: 60%;
    top: 70%;
}

.main button a {
    color: black;
}

button:hover {
    box-shadow: inset 18vw 0 0 0 #0084bc;
}

header h2 {
    position: absolute;
    font-size: 50px;
    color: #cd2628;
    top: 50%;
    left: 20%;
}

main {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* Sekcja "O nas" */

.company {
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    font-size: 15px;
    text-decoration: none;
}

.company .flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left {
    width: 650px;
}

.company .left img {
    width: 650px;
}

.right {
    width: 650px;
}

.company h1 {
    text-align: center;
    margin: 50px 0px 70px 0;
    font-size: 44px;
    color: #0084bc;
    padding-top: 10vh;
}

.company h2 {
    text-align: left;
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #cd2628;
}

.company h3 {
    text-align: left;
    margin: 12px 0;
    font-size: 20px;
    color: #0084bc;
}

.company p {
    margin: 10px 0;
    text-align: justify;
    font-family: 'Roboto', sans-serif;

}

/* Sekcja oferta */

#offer h2 {
    text-align: center;
    font-size: 50px;
    color: #0084bc;
    padding-top: 10vh;
}

.offer {
    background-color: white;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container:hover .card {
    opacity: 0.2;

}

.container .card:hover {
    opacity: 1;
}

.container .card::before {

    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
    pointer-events: none;
}

.container .card .content {
    padding: 30px;
    text-align: center;
}

.container .card .content h3 {
    position: relative;
    font-size: 30px;
    color: black;
    padding: 0 0 15px 0;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}

.container .card .content p {
    position: relative;
    font-size: 15px;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: 300;
    transition: 0.5s;
    text-align: center;
    padding-bottom: 15px;
}


.container .card:hover .content h2,
.container .card:hover .content p {
    opacity: 1;
}

.container .card .content a {
    display: inline-block;
    margin: 15px;
    padding: 8px 15px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 2;
}

.container .card span {
    transition: 0.5;
    opacity: 0;
}

.container .card:hover span {
    opacity: 1;
}

.container .card span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #cd2628);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);

    }

    100% {
        transform: translateX(100%);
    }
}

.container .card span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #cd2628);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);

    }

    100% {
        transform: translateY(100%);
    }
}

.container .card span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #cd2628);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);

    }

    100% {
        transform: translateX(-100%);
    }
}

.container .card span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #cd2628);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(-100%);
    }
}

/* Sekcja Aktualności */
.news {
    height: 100vh;
    width: 1550px;
    margin: 0 auto;
}

.news h2 {
    text-align: center;
    font-size: 50px;
    color: #0084bc;
    padding-top: 10vh;
}

.news h3 {
    color: #0084bc;
    margin: 70px 0 10px;
}

.news p {
    font-family: 'Roboto', sans-serif;
}

/* Sekcja Kontakt */
.contact {
    height: 90vh;
    width: 1550px;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    color: #0084bc;
    padding-top: 10vh;
}

.contact h3 {
    margin: 30px 0 10px 0;
}

/* Footer */

footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/* Media queries - desktop */

@media (max-width: 1800px) {

    header .wrapper {
        max-width: 1400px;
        margin: 0 auto;
    }

    header h2 {
        font-size: 46px;
    }

    /* Sekcja Aktualności */
    .news {
        width: 1400px;
    }

    .news h3 {
        margin: 40px 0 10px;
    }

    .news p {
        font-size: 16px;
    }
}

@media(max-width: 1600px) {

    header .wrapper {
        max-width: 1300px;
    }

    .nav-area li {
        display: inline-block;
        padding: 0 15px;
    }

    header h2 {
        font-size: 44px;
    }

    /* Sekcja "O nas" */

    .company {
        max-width: 1300px;
        font-size: 15px;
    }

    .left {
        width: 600px;
    }

    .company .left img {
        width: 600px;
    }

    .right {
        width: 600px;
    }

    .company h2 {
        margin: 0 0 10px 0;
        font-size: 22px;
    }

    .company h3 {
        margin: 5px 0;
        font-size: 18px;
    }

    .company p {
        margin: 4px 0;
        font-size: 15px;
    }

    /* Sekcja oferta */

    .container .card {
        height: 450px;
    }

    /* Sekcja Aktualności */
    .news {
        width: 1300px;
    }

    .news h3 {
        margin: 30px 0 10px;
    }

    /* Sekcja Kontakt */
    .contact {
        width: 1300px;
    }

    .contact h2 {
        margin-bottom: 60px;
    }

    .contact h3 {
        margin: 25px 0 10px 0;
    }
}

@media(max-width:1400px) {

    header {
        font-size: 16px;
    }

    header .wrapper {
        max-width: 1000px;
    }

    button:hover {
        box-shadow: inset 18vw 0 0 0 #0084bc;
    }

    header h2 {
        font-size: 35px;
        left: 15%;
    }

    /* Sekcja "O nas" */

    .company {
        max-width: 1000px;
        font-size: 15px;
    }

    .left {
        width: 490px;
    }

    .company .left img {
        width: 480px;
        margin-top: 10vh;
    }

    .right {
        width: 490px;
    }

    .company h1 {
        margin: 20px 0px 10px 0;
        font-size: 44px;
        padding-top: 10vh;
    }

    .company h2 {
        margin: 0 0 5px 0;
        font-size: 20px;
    }

    .company h3 {
        text-align: left;
        margin: 5px 0;
        font-size: 16px;
    }

    .company p {
        margin: 10px 0;
        font-size: 14px;
    }

    /* Sekcja oferta */

    #offer h2 {
        font-size: 44px;
    }

    .container {
        width: 1200px;
    }

    .container .card {
        height: 400px;
        margin: 0 30px 0 30px;
    }

    /* Sekcja Aktualności */
    .news {
        width: 1100px;
    }

    .news h2 {
        font-size: 44px;
    }

    .news h3 {
        margin: 20px 0 10px;
    }

    .news p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    /* Sekcja Kontakt */
    .contact {
        width: 1100px;
    }

    .contact h2 {
        margin-bottom: 20px;
        font-size: 44px;
    }

    .contact h3 {
        margin: 15px 0 10px 0;
    }

    /* Footer */

    footer {
        width: 100vw;
        height: 10vh;
        background-color: black;
    }

    html {
        scroll-behavior: smooth;
    }
}

@media(max-width:767px) {


    header .wrapper {
        max-width: 400px;
    }

    .wrapper.show {
        height: 30vh;
    }

    header img {
        height: 6vh;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 3.5vh;
        left: 80vw;
        font-size: 24px;
    }

    .fas.up {
        display: none;
    }

    .nav-area {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .nav-area.show {
        display: flex;
    }

    .main button {
        height: 7vh;
        width: 24vw;
        font-size: 20px;
        left: 60%;
        top: 70%;
    }

    button:hover {
        box-shadow: none;
    }

    header h2 {
        font-size: 28px;
        top: 50%;
        left: 5%;
    }

    /* Sekcja "O nas" */

    .company {
        max-width: 420px;
        height: auto;
        font-size: 15px;
    }

    .company .flex {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .left {
        width: 420px;
    }

    .company .left img {
        width: 420px;
        margin-bottom: 15px;
    }

    .right {
        width: 400px;
    }

    .company h1 {
        text-align: center;
        margin: 15px 0px 15px 0;
        font-size: 44px;
        padding-top: 10vh;
    }

    .company h2 {
        text-align: center;
        margin: 0 0 20px 0;
        font-size: 24px;
    }

    .company h3 {
        margin: 12px 0;
        font-size: 20px;
    }

    .company p {
        margin: 10px 0;
        text-align: justify;
    }


    /* Sekcja oferta */

    #offer h2 {
        text-align: center;
        padding-top: 10vh;
    }

    .offer {
        background-color: white;
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 1400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .container .card {
        position: relative;
        width: 300px;
        height: 500px;
        background-color: darkgrey;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .container:hover .card {
        opacity: 0.2;

    }

    .container .card:hover {
        opacity: 1;
    }

    .container .card::before {

        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        background-color: rgba(0, 0, 0, 0.1);
        width: 50%;
        pointer-events: none;
    }

    .container .card .content {
        padding: 30px;
        text-align: center;
    }

    .container .card .content h3 {
        position: relative;
        font-size: 30px;
        color: black;
        padding: 0 0 15px 0;
        z-index: 2;
        opacity: 0.5;
        letter-spacing: 1px;
        transition: 0.5s;
    }

    .container .card .content p {
        position: relative;
        font-size: 15px;
        color: #fff;
        z-index: 2;
        opacity: 0.5;
        letter-spacing: 1px;
        font-weight: 300;
        transition: 0.5s;
        text-align: center;
        padding-bottom: 15px;
    }


    .container .card:hover .content h2,
    .container .card:hover .content p {
        opacity: 1;
    }

    .container .card .content a {
        display: inline-block;
        margin: 15px;
        padding: 8px 15px;
        background-color: #fff;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 2;
    }

    .container .card span {
        transition: 0.5;
        opacity: 0;
    }

    .container .card:hover span {
        opacity: 1;
    }

    .container .card span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, transparent, #cd2628);
        animation: animate1 2s linear infinite;
    }

    /* Sekcja Aktualności */
    .news {
        height: auto;
        width: 400px;
        margin: 0 auto;
    }

    .news h2 {
        text-align: center;
        font-size: 50px;
        color: #0084bc;
        padding-top: 10vh;
    }

    .news h3 {
        color: #0084bc;
        margin: 70px 0 10px;
    }

    .news p {
        font-family: 'Roboto', sans-serif;
        text-align: justify;
    }

    /* Sekcja Kontakt */

    .contact {
        height: auto;
        width: 400px;
        margin: 20px auto;
        text-align: center;
    }

    .contact h2 {
        margin-bottom: 40px;
        text-align: center;
        font-size: 50px;
        color: #0084bc;
        padding-top: 10vh;
    }

    .contact h3 {
        margin: 30px 0 10px 0;
    }

    /* Footer */

    footer {
        width: 100vw;
        height: 10vh;
        background-color: black;
    }

    html {
        scroll-behavior: smooth;
    }
}