header {
    width: 100vw;
    background-color: rgba(0, 0, 0);
    position: fixed;
    z-index: 200;
}

header img {
    height: 8vh;
    cursor: pointer;
}

header .wrapper {
    display: flex;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
    height: 10vh;
    justify-content: left;
}